<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.shelves.loader</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/shelves-loader/loader</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/usr/local/shelves-loader</string>
    <key>StandardOutPath</key>
    <string>/usr/local/shelves-loader/logs/out.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/shelves-loader/logs/error.log</string>
</dict>
</plist>